<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LootBox</title>
    <link rel="icon" href="static/logo.webp" type="image/x-icon">
    <link rel="stylesheet" href="static/style.css">

</head>

<body>
    <div class="loot">LootBox</div>
    <div class="container">
        <div class="search-bar">
            <input type="search" id="searchInput" placeholder="Busca un juego...">
            <button id="searchButton">Buscar</button>
        </div>

        <div class="section">
            <h2>🎮 Resultado</h2>
            <div id="results"></div>
        </div>

        <div class="section">
            <h2>💰 Precios y Descuentos</h2>
            <div id="priceContainer"></div>
        </div>

        <div class="section">
            <h2>📺 Videos de YouTube</h2>
            <div id="youtubeResults"></div>
        </div>

        <div class="section">
            <h2>🎥 Streams de Twitch</h2>
            <div id="twitchResults" class="twitchResults"></div>
        </div>
    </div>

    <script src="static/script.js"></script>
</body>

</html>